@media only screen and (min-width: 1024px) and (max-width:1439px) {
    main .mainContent .sidebarContainer .sidebar {
        margin-right: -85px;
        width: 240px;
        padding: 0px 16px !important;
    }
    
}